@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

* {
    font-family: 'Raleway', sans-serif;
    font-size:100%;
    line-height: 1.6;
    margin: auto;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    color: grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.center-txt{
    text-align: center;
}

.gallery-column {
    flex: 33.33%;
    padding: 5px;
    text-align:center;
  }

  .gallery-row {
    display: flex;
  }

.heading{
    font-size: 250%;
    margin: 20px;
    text-align: center;
}

.navlink {
    float: right;
}

.navlink a {
    display: block;
    text-align: center;
    padding: 15px 15px;
}

#about {
    width: 60%;
    height: 200px;
    float: left;
}

#contact {
    margin-left: 60%;
    height: 200px;
}

#header {
    margin-left: 20px;
    margin-right: 20px;
}

#navbar {
    width: 100%;
    background-color: white;
    overflow: hidden;
}

#profile {
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 10px;
}

#subtitle {
    text-align: center;
    margin: 0;
}

#title {
    font-size: 400%;
    text-align: center;
    margin: 0;
}